div.flores-container {
  display: flex;

  justify-content: space-between;

  width: 100vw;
  height: 40vh;

  margin-bottom: 5vh;
}

.texto {
  width: 100%;
}

div.flores-container img {
  object-fit: contain;
}

div.flores-container div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;
}

div.objetos-container {
  display: flex;
  flex-wrap: wrap;

  gap: 2vh;

  justify-content: center;
  align-items: center;

  width: 90%;
  margin: auto;
  margin-top: 40px;
}

button#objeto {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  flex: 1;
}

button#objeto img {
  width: 19vh;
}

button#objeto p {
  font-family: "Charm", sans-serif;
  font-size: 3.5vh;
}

button#objeto:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  div.flores-container {
    width: 100%;
  }

  div.flores-container div {
    width: 100%;
  }
  div.flores-container img {
    display: none;
  }
}
